body {
  background-color: #fff;
  font-family: "Open Sans";
}

.header {
  background-color: #ffffff;
}

.feature-wrapper {
  padding: 3% 0;
}

.content {
  width: 80%;
}

p {
  font-weight: 400;
}

.text-danger {
  color: #dc3545;
}
